{{- $ing := default (dict) .Values.ingress -}}
{{- $route := default (dict) .Values.route -}}
{{- $host := (get $route "host") | default "" -}}
{{- $hosts := list -}}
{{- if $host }}
  {{- $hosts = append $hosts $host }}
{{- end }}
{{- if $ing.additionalHosts }}
  {{- range $extra := $ing.additionalHosts }}
    {{- if $extra }}
      {{- $hosts = append $hosts $extra }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if and $ing.enabled $ing.tlsSecretName $ing.clusterIssuerName (gt (len $hosts) 0) }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: signet-landing
spec:
  secretName: {{ $ing.tlsSecretName }}
  dnsNames:
    {{- range $hosts }}
    - {{ . | quote }}
    {{- end }}
  issuerRef:
    name: {{ $ing.clusterIssuerName }}
    kind: ClusterIssuer
{{- end }}
