{{- if .Values.enabled }}
{{- $mount := .Values.vault.kubernetesMount | default "kubernetes" -}}
{{- $role := .Values.vault.roleName | default "gitops-local" -}}
{{- $addr := .Values.vault.address -}}

{{- $argocd := .Values.secrets.argocdImageUpdater -}}
{{- if $argocd.enabled }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $argocd.destinationName }}
  namespace: {{ .Values.namespaces.gitops }}
spec:
  mount: gitops
  type: kv-v2
  path: {{ $argocd.path }}
  destination:
    create: true
    overwrite: true
    name: {{ $argocd.destinationName }}
    type: {{ $argocd.type | default "Opaque" }}
  vaultAuthRef: k8s
{{- end }}

{{- $quay := .Values.secrets.quayAuth -}}
{{- if $quay.enabled }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $quay.destinationName }}
  namespace: {{ .Values.namespaces.pipelines }}
spec:
  mount: gitops
  type: kv-v2
  path: {{ $quay.path }}
  destination:
    create: true
    overwrite: true
    name: {{ $quay.destinationName }}
    type: {{ $quay.type | default "Opaque" }}
{{- if eq ($quay.type | default "Opaque") "kubernetes.io/dockerconfigjson" }}
    transformation:
      excludes:
        - ".*"
      templates:
        .dockerconfigjson:
          text: {{ printf "{{ or (get .Secrets %q) (get .Secrets %q) }}" ($quay.sourceKey | default "dockerconfigjson") ".dockerconfigjson" | quote }}
{{- end }}
{{- if $quay.destinationAnnotations }}
    annotations:
{{ toYaml $quay.destinationAnnotations | indent 6 }}
{{- end }}
{{- if $quay.destinationLabels }}
    labels:
{{ toYaml $quay.destinationLabels | indent 6 }}
{{- end }}
  vaultAuthRef: k8s
{{- end }}

{{- $repo := .Values.secrets.gitRepoCreds -}}
{{- if $repo.enabled }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $repo.destinationName }}
  namespace: {{ .Values.namespaces.gitops }}
spec:
  mount: gitops
  type: kv-v2
  path: {{ $repo.path }}
  destination:
    create: true
    overwrite: true
    name: {{ $repo.destinationName }}
    type: {{ $repo.type | default "Opaque" }}
{{- if $repo.destinationAnnotations }}
    annotations:
{{ toYaml $repo.destinationAnnotations | indent 6 }}
{{- end }}
{{- if $repo.destinationLabels }}
    labels:
{{ toYaml $repo.destinationLabels | indent 6 }}
{{- end }}
  vaultAuthRef: k8s
{{- end }}

{{- $repoPipelines := .Values.secrets.gitRepoCredsPipelines -}}
{{- if $repoPipelines.enabled }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $repoPipelines.destinationName }}
  namespace: {{ .Values.namespaces.pipelines }}
spec:
  mount: gitops
  type: kv-v2
  path: {{ $repoPipelines.path }}
  destination:
    create: true
    overwrite: true
    name: {{ $repoPipelines.destinationName }}
    type: {{ $repoPipelines.type | default "Opaque" }}
{{- if $repoPipelines.destinationAnnotations }}
    annotations:
{{ toYaml $repoPipelines.destinationAnnotations | indent 6 }}
{{- end }}
{{- if $repoPipelines.destinationLabels }}
    labels:
{{ toYaml $repoPipelines.destinationLabels | indent 6 }}
{{- end }}
  vaultAuthRef: k8s
{{- end }}

{{- $gh := .Values.secrets.githubWebhook -}}
{{- if $gh.enabled }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $gh.destinationName }}
  namespace: {{ .Values.namespaces.pipelines }}
spec:
  mount: gitops
  type: kv-v2
  path: {{ $gh.path }}
  destination:
    create: true
    overwrite: true
    name: {{ $gh.destinationName }}
    type: {{ $gh.type | default "Opaque" }}
  vaultAuthRef: k8s
{{- end }}
{{- end }}
