{{- if .Values.enabled }}
{{- $svc := .Values.secrets.toyServiceConfig -}}
{{- if $svc.enabled }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $svc.destinationName }}
  namespace: {{ .Values.namespaces.app }}
spec:
  mount: gitops
  type: kv-v2
  path: {{ $svc.path }}
  destination:
    create: true
    overwrite: true
    name: {{ $svc.destinationName }}
  vaultAuthRef: k8s
  {{- if and $svc.restartTargets $svc.restartTargets.enabled $svc.restartTargets.items }}
  rolloutRestartTargets:
  {{- range $t := $svc.restartTargets.items }}
    - kind: {{ $t.kind }}
      name: {{ $t.name }}
  {{- end }}
  {{- end }}
{{- end }}

{{- $web := .Values.secrets.toyWebConfig -}}
{{- if $web.enabled }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $web.destinationName }}
  namespace: {{ .Values.namespaces.app }}
spec:
  mount: gitops
  type: kv-v2
  path: {{ $web.path }}
  destination:
    create: true
    overwrite: true
    name: {{ $web.destinationName }}
  vaultAuthRef: k8s
{{- end }}
{{- end }}

{{- if .Values.enabled }}
{{- $cb := .Values.secrets.couchbaseAdmin -}}
{{- if $cb.enabled }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $cb.destinationName }}
  namespace: {{ .Values.namespaces.app }}
spec:
  mount: gitops
  type: kv-v2
  path: {{ $cb.path }}
  destination:
    create: true
    overwrite: true
    name: {{ $cb.destinationName }}
    type: {{ $cb.type | default "Opaque" }}
  vaultAuthRef: k8s
{{- end }}
{{- end }}

{{- if .Values.enabled }}
{{- $nq := .Values.secrets.nostrQuery -}}
{{- if $nq.enabled }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $nq.destinationName }}
  namespace: {{ .Values.namespaces.app }}
spec:
  mount: gitops
  type: kv-v2
  path: {{ $nq.path }}
  destination:
    create: true
    overwrite: true
    name: {{ $nq.destinationName }}
    type: {{ $nq.type | default "Opaque" }}
  vaultAuthRef: k8s
{{- end }}
{{- end }}

{{- if .Values.enabled }}
{{- $hf := .Values.secrets.huggingFaceToken -}}
{{- if $hf.enabled }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $hf.destinationName }}
  namespace: {{ .Values.namespaces.app }}
spec:
  mount: gitops
  type: kv-v2
  path: {{ $hf.path }}
  destination:
    create: true
    overwrite: true
    name: {{ $hf.destinationName }}
    type: {{ $hf.type | default "Opaque" }}
  vaultAuthRef: k8s
{{- end }}
{{- end }}

{{- if .Values.enabled }}
{{- $ai := .Values.secrets.openshiftAIToken -}}
{{- if $ai.enabled }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $ai.destinationName }}
  namespace: {{ .Values.namespaces.app }}
spec:
  mount: gitops
  type: kv-v2
  path: {{ $ai.path }}
  destination:
    create: true
    overwrite: true
    name: {{ $ai.destinationName }}
    type: {{ $ai.type | default "Opaque" }}
  vaultAuthRef: k8s
{{- end }}
{{- end }}
